@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Gremlin Connector<br />
    Mirpur, Dhaka<br />
    <abbr title="Phone">CELL:</abbr>
    +880-1623998254
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:asifaeonan@gmail.com">asifaeonan@gmail.com</a><br />
</address>